@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  min-height: 100vh;
  width: 100%;
}

[data-lenis-scroll] {
  min-height: 100vh;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/gilroy/Gilroy-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/gilroy/Gilroy-Medium.ttf") format("woff2");
  font-weight: 700;
  font-style: medium;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../public/font/gilroy/Gilroy-Bold.ttf") format("woff2");
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: "Gilmer";
  src: url("../../public/font/gilmer/Gilmer-Regular-Trial.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilmer";
  src: url("../../public/font/gilmer/Gilmer-Medium-Trial.woff") format("woff2");
  font-weight: 700;
  font-style: medium;
}

@font-face {
  font-family: "Gilmer";
  src: url("../../public/font/gilmer/Gilmer-Heavy-Trial.woff") format("woff2");
  font-weight: 900;
  font-style: bold;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #bbf2ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .section1 {
  background-image: url("../../public/images/bg-1.jpg");
  background-position: center;
  background-size: cover;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}

.gilroy-regular {
  font-family: "Gilroy";
  font-weight: 400;
}

.gilroy-bold {
  font-family: "Gilroy";
  font-weight: 900;
}

.gilmer-regular {
  font-family: "Gilmer";
  font-weight: 400;
}
.gilmer-medium {
  font-family: "Gilmer";
  font-weight: 700;
}

.gilmer-bold {
  font-family: "Gilmer";
  font-weight: 700;
}

.gradient {
  background-image: linear-gradient(90deg, #bbf2ff, white);
  color: transparent;
  background-clip: text;
}
.gradient2 {
  background-image: linear-gradient(56deg, #8e006b, #28001e);
  color: transparent;
  background-clip: text;
}

.hover-content {
  transition: 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955) transform;
}

.card:hover .hover-content {
  transform: translateY(-100%);
}

.button-white {
  background-color: white;
}

input {
  border: 1px solid #bbf2ff;
  padding: 8px;
  padding-left: 14px;
  border-radius: 20px;
  color: #bbf2ff;
  font-size: 12px;
  outline: none;
}

.arrow-button {
  transition: all 0.3s ease-in-out;
  z-index: 4;
}

.arrow-button:hover {
  background-color: #28001e;
  color: white;
  transform: scale(1.2) translateX(10%);
  border: 1px solid #bbf2ff;
}

.arrow-button-left:hover {
  background-color: #28001e;
  color: white;
  transform: scale(1.2) translateX(-10%);
  border: 1px solid #bbf2ff;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.6s ease-in;
}
